@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media screen and (min-width:300px) and (max-width:840px){
    .Box{
        width: 375px;
        height:100%;
        border-radius: 0%;
    }
    .caixa{
        flex-direction: column-reverse;
    }
    .text{
        margin-top:30px;
    }
    .image{margin: 0px;}
    h1{
        font-size:40px;
    }
    h5{margin-top:25px;}
     #desktop{
        display:none;
     }
     #mobile{
        display: block;
     }
    }

